.Home-page-container {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14pt;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .Cover-image {
    opacity: 0;
    animation: Cover-appear 1.5s ease-out forwards;
    max-height: 600px;
    animation-delay: 0.5s;
  }
}

@keyframes Cover-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Home-content {
  padding: 36px 0 36px 0;
  opacity: 0;
  animation: Cover-appear 1.5s ease-out forwards;
  animation-delay: 1s;

  .Map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }
}

.Cover-image {
  width: 100vw;
  height: auto;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}
