.Home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14pt;
  color: white;

  @media (prefers-reduced-motion: no-preference) {
    .Cover-image {
      opacity: 0;
      animation: Element-appear 0.75s ease-out forwards;
      aspect-ratio: 24/9;
      animation-delay: 0.5s;
      clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
      z-index: 2;
    }
  }
}



.Home-content {
  display: flex;
  opacity: 0;
  animation: Element-appear 1.5s ease-out forwards;
  animation-delay: 1s;

  .Map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
   
    .Map-wrapper {
      width: 100%;
      aspect-ratio: 16 / 9;
    }
  }
}

.Cover-image {
  width: 100vw;
  height: auto;
  pointer-events: none;
}

/* .Cover-image-decoration {
  pointer-events: none;
  background-color: brown;
  width: 100%;
  height: auto;
  aspect-ratio: 1980/162;
  clip-path: polygon(50% 90%, 100% 0, 100% 10%, 50% 100%, 0 10%, 0 0);
} */

.App-link {
  color: #61dafb;
}
